<div style="display: flex; flex-direction: column;">
	<div style="display: flex; flex: 1 1 auto; justify-content: center; align-items: center;">
		<h1 class='text-danger'><%= @title %></h1>
	</div>
	<ul>
		<li>Ten: <%= @info.ten %></li>
		<li>Nam sinh: <%= @info.nam_sinh %></li>
		<li>Dien thoai: <%= @info.dien_thoai %></li>
		<li>Dia chi: <%= @info.dia_chi %></li>
		<li>Tieu su: <%= @info.tieu_su %></li>
	</ul>
</div>
